/* *{
    padding:0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(220,220,220)
}
/* .create-form{
    width: 500px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
} */
h1{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.input-group{
    height: 30px;
    width: 400px;
}
.btn{
    display: flex;
    justify-content: center;
}

button{
    padding: 10px 25px;
    font-size: 15px;
}